@model SistemaFacturacionMVC.Models.invoiceProduct

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Detalle Factura</h1>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idInvoice" />
            <input type="hidden" asp-for="idProduct" />
            <input type="hidden" asp-for="price" />

            <div class="form-group">
                <label asp-for="Product.name" class="control-label"></label>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" min="1" />
                <span asp-validation-for="quantity" class="text-danger"></span>
                @if (ViewBag.Message != null)
                {
                    <span class="text-danger">@ViewBag.Message</span>
                }
            </div>
            <div class="form-group">
                <a href="@Url.Action("Edit","invoiceProducts",new { numeroFactura = TempData["idInvoice"], codigoProducto = TempData["idProduct"], quantity = this.Html.Display("#cant") })"> <input type="submit" value="Guardar" class="btn btn-primary" /></a> |
            </div>
        </form>
    </div>
</div>

