@model SistemaFacturacionMVC.Models.product
@{
    ViewData["Title"] = "Eliminar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Producto</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Delete">
                <input type="hidden" asp-for="idProduct" />
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label asp-for="name"></label>
                    <input asp-for="name" type="text" class="form-control" id="name" aria-describedby="" placeholder="Nombre del producto" disabled>
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description"></label>
                    <input asp-for="description" type="text" class="form-control" id="description" placeholder="Descripción del producto" disabled>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="price"></label>
                    <input asp-for="price" type="text" class="form-control" id="price" placeholder="precio del producto" disabled>
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cost"></label>
                    <input asp-for="cost" type="text" class="form-control" id="cost" placeholder="costo del producto" disabled>
                    <span asp-validation-for="cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="existence"></label>
                    <input asp-for="existence" type="number" class="form-control" id="existence" placeholder="Existencia" disabled>
                    <span asp-validation-for="cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="status"></label>
                    <select asp-for="status" class="form-control" disabled>
                        <option>Selecciona....</option>
                        <option>Activo</option>
                        <option>Inactivo</option>
                    </select>
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
                <a href="@Url.Action("ConfirmacionEliminar","products",new { id = Model.idProduct})">
                    <input type="button" value="Eliminar Producto" class="btn btn-danger" />
                </a>

            </form>
        </div>
    </div>
</div>




