
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reportes</h1>


<div class="container">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ventas Productos</h5>
                <p class="card-text">
                    mostrar el monto total vendido de cada
                    producto en el rango de fechas seleccionado (día por día).
                </p>
                @Html.ActionLink("Ir a reporte", "product", new { idProducto = 0, fechaInicio = "", fechaFinal = "" }, new { @class = "btn btn-primary d-block m-2" })
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Estadisticas Factura</h5>
                <p class="card-text">
                    muestra día por día la cantidad de
                    facturas emitidas, el monto total facturado y la cantidad de productos
                    facturados.
                </p>
                @Html.ActionLink("Ir a reporte", "invoiceStadistics", new { fechaInicio = "01/01/0001", fechaFinal = "01/01/0001" }, new { @class = "btn btn-primary d-block m-2" })
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Compras Clientes</h5>
                <p class="card-text">
                    mostrar el monto total vendido por cada cliente en
                    el rango de fechas seleccionado (día por día).
                </p>
                @Html.ActionLink("Ir a reporte", "clientsReport", new { idCliente = 0, fechaInicio = "", fechaFinal = "" }, new { @class = "btn btn-primary d-block m-2" })
            </div>
        </div>
    </div>
</div>
