
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@Html.ActionLink("Visualizar", "product", new { idProducto = 0, fechaInicio = "", fechaFinal = "" }, new { @class = "btn btn-warning" })
@Html.ActionLink("Ver Reporte", "ReporteEstadisticasFacturacion", new { fechaInicio = " ", fechaFinal = " " }, new { @class = "btn btn-primary" })