
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@Html.ActionLink("Visualizar", "ReporteVentasProductoAsync", new { idProducto = 0, fechaInicio = "", fechaFinal = "" }, new { @class = "btn btn-warning" })